// Brand Color Variables

$brand-red:                   #EC3002; // Official Sapient Red
$light-red:					  #FFEEEE;

$brand-turquoise:             #5EC1CF;
$brand-turquoise-dark:        #56B1BE;
$brand-turquoise-darker:      #4BA7B4;


$brand-tan:                   #E5AF67;
$brand-tan-dark:              #D3C6A6;
$brand-tan-darker:            #CAB992;


$brand-brown-light:           #E4B068; // Creamy Garlic
$brand-brown:                 #694C30; // Garlic and Olive Oil

$gray-white:                  #FFF;
$gray-lightest:               #FDFDFD; // CYO circle on tracker
$gray-lighter:                #F0F0F0;
$gray-light:                  #E1E1E1; // Gray Icon
$gray:                        #D9D9D9;  // Border color
$gray-dark:                   #555;
$gray-darker:                 #373737; // Crust icon
$gray-black:                  #000;
$lime-green:				  rgba(197,211,55,0.3)  ;
$lime-green-opaque:				rgba(197,211,55,0.7) ;

